.pics{
    line-height: 0;
    column-count: 2;
    column-gap: 10px;
}
.pics img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    filter: grayscale();
}
.pics img:hover{
    transition: filter 0.5s;
    filter: none;
}

body{
    background-color: rgb(0, 0, 0);
}

.text a:link{
    color: rgb(228, 72, 248);
    font-family: sans-serif;
    margin-left: 10px;
    text-decoration: none;
    background-color: rgb(20, 14, 36);
    border-radius: 5px;
}

.text a:visited{
    color: rgb(228, 72, 248);
    font-family: sans-serif;
    margin-left: 10px;
    text-decoration: none;
    background-color: rgb(20, 14, 36);
    border-radius: 5px;   
}

.text a:hover{
    transition: 0.25s;
    color: rgb(246, 177, 255);
    font-family: sans-serif;
    margin-left: 10px;
    text-decoration: none;
    background-color: rgb(39, 21, 90);
    border-radius: 5px;    
}
